@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('/styles/fonts/Lato/Lato-Regular.ttf')format('truetype');
}
@font-face {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    src: url('/styles/fonts/Aleo/Aleo-Regular.ttf')format('truetype');
}